$text-color: rgba(246, 246, 244, .8);
$text-color-strong: rgb(246, 246, 244);
$primary: #97e1f1;
$font-mono: Menlo, Monaco, "Courier New", monospace;
$font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

p{
  line-height: 25px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}