$text-color: rgba(246, 246, 244, .8);
$text-color-strong: rgb(246, 246, 244);
$primary: #97e1f1;
$font-mono: Menlo, Monaco, "Courier New", monospace;
$font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

p{
  line-height: 25px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.p-scrolltop{
  background-color: transparent;
  border: none;
  color: $primary;
  cursor: pointer;
}

// custom scrollbar
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
  outline: 1px solid slategrey;
}

button.animate{
  position: relative;
  margin: 18px 0;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover{
    .button{
      bottom: 10px;
      left: 10px;
    }
  }
  .button{
    position: relative;
    display: block;
    padding: 18px 25px;
    border: 1px solid $primary;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background: #282a36;
    color: $primary;
    transition: all .3s;
  }
  .background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $primary;
  }
}
