.navbar{
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  font-family: $font-mono;
  .navbar-right{
    i{
      display: none;
    }
  }
  ul{
    display: flex;
    list-style: none;
    a{
      display: flex;
      align-items: center;
      color: $text-color;
      margin: 0 20px;
      text-decoration: none;
      cursor: pointer;
      .menu-key{
        color: $primary;
        margin-right: 5px;
      }
    }
  }
  i{
    font-size: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .navbar{
    .navbar-right{
      i{
        display: block;
      }
    }
    ul{
      display: none;
      &.show-on-mobile{
        display: block;
      }
    }
  }
}

