.navbar{
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  font-family: $font-mono;
  .navbar-right{
    i{
      display: none;
    }
  }
}
.navbar ul, .navbar-mobile ul{
  display: flex;
  list-style: none;
    a:not(.button){
      display: flex;
      align-items: center;
      color: $text-color;
      margin: 0 20px;
      text-decoration: none;
      cursor: pointer;
      .menu-key{
        color: $primary;
        margin-right: 5px;
      }
    }
    button{
      margin: 0 20px;
    }
}
i{
  font-size: 30px;
  cursor: pointer;
}
.navbar-mobile{
  display: none;
}

@media screen and (max-width: 600px) {
    // i.pi.pi-bars{
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   padding: 20px;
    //   display: flex;
    //   align-items: center;
    //   z-index: 11;
    // }

  .navbar{
    display: none;
  }
  .navbar-mobile{
    display: flex;
    position: fixed;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    // height: 105px;
    // align-items: center;
    // padding: 20px;
    justify-content: space-between;
    font-family: $font-mono;
    z-index: 10;
    i{
      position: fixed;
      top: 0;
      right: 0;
      padding: 20px;
      display: flex;
      align-items: center;
      z-index: 2;
    }
  
    .navbar-right{
      display: flex;
      align-items: center;
      position: relative;
      right: -600px;
      .right-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
      &.navbar-right-mobile{
        right: 0;
        display: inline-flex;
        height: 100vh;
        flex-direction: row-reverse;
        background-color: #282a36;
        box-shadow: -5px 5px 15px -3px rgba(0,0,0,0.2);
        .right-container{
          flex-direction: column;
          height: 100%;
        }
        i{
          padding: 20px 10px;
          height: 105px;
          display: flex;
          align-self: flex-end;
        }
      }
    }
    // .mobile-blur{
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   filter: blur(2px);
    //   background-color: red;
    // }
    ul{
      // display: none;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      left: 170%;
      width: 300px;
      transition: none;
      &.show-on-mobile{
        // display: block;
        left: 0;
        transition: all .5s;
      }
      li{
        padding: 30px 0;
        .switch-lang{
          margin: 0 20px;
        }
      }
      // li:last-child{
      //   position: absolute;
      //   bottom: 0;
      // }
    }
  }
}

