.navbar{
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  font-family: $font-mono;
  .navbar-right{
    i{
      display: none;
    }
  }
  ul{
    display: flex;
    list-style: none;
    a{
      display: flex;
      align-items: center;
      color: $text-color;
      margin: 0 20px;
      text-decoration: none;
      cursor: pointer;
      .menu-key{
        color: $primary;
        margin-right: 5px;
      }
    }
  }
  i{
    font-size: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .navbar{
    height: 105px;
    .navbar-right{
      display: flex;
      align-items: center;
      .right-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
      i{
        display: flex;
        align-items: center;
      }
      &.navbar-right-mobile{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        background-color: #282a36;
        box-shadow: -5px 5px 15px -3px rgba(0,0,0,0.2);
        .right-container{
          flex-direction: column;
          height: 100%;
        }
        i{
          padding: 20px 10px;
          height: 105px;
          display: flex;
          align-self: flex-end;
        }
      }
      .mobile-blur{
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // filter: blur(2px);
      }
    }
    ul{
      // display: none;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      left: 100%;
      width: 300px;
      transition: all .5s;
      &.show-on-mobile{
        // display: block;
        left: 0;
      }
      li{
        padding: 30px 0;
      }
    }
  }
}

